<!-- Page -->
<div class="page">
    <div class="page-header">
        <button type="button" class="btn btn-icon btn-dark btn-round float-right" (click)="back()"><i
                class="icon fa-arrow-left" aria-hidden="true"></i></button>
        <h1 class="page-title">{{title | titlecase}}</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel panel-bordered" id="contentToConvert">
            <div class="panel-body">
                <div class="row pb-50">
                    <div class="col-6 h-300">
                        <h4>Fatturato comulato Farmacia</h4>
                        <ngx-charts-bar-vertical-2d
                                *ngIf="loaded"
                                [scheme]="istocolor"
                                [results]="isto1"
                                [xAxis]="true"
                                [yAxis]="true"
                                [roundEdges]="true"
                                [showGridLines]="true">
                        </ngx-charts-bar-vertical-2d>
                    </div>
                    <div class="col-6 h-300">
                        <h4>Andamendo temporale Fatturato Farmacia</h4>
                        <ngx-charts-area-chart
                                *ngIf="loaded"
                                [scheme]="istocolor"
                                [results]="isto2"
                                [legendTitle]="'Legenda'"
                                [xAxis]="true"
                                [yAxis]="true"
                                [legend]="true"
                                [showXAxisLabel]="true"
                                [showYAxisLabel]="true"
                                [xAxisLabel]="'Mese'"
                                [yAxisLabel]="'Pezzi'"
                                [curve]="curve"
                        >
                        </ngx-charts-area-chart>
                    </div>
                </div>
                <div class="row h-300">
                    <div class="col-4">
                        <h4 class="center">Quota Gruppo APA su volume Commerciale Farmacia</h4>
                        <ngx-charts-gauge
                                [scheme]="colorF"
                                [results]="gaugeF"
                                [min]="gaugeFMin"
                                [max]="gaugeFMax"
                                [angleSpan]="240"
                                [startAngle]="-120"
                                [units]="'Pz APA/Comm'"
                                [bigSegments]="10"
                                [smallSegments]="5">
                        </ngx-charts-gauge>
                    </div>
                    <div class="col-4">
                        <h4 class="center">Quota Gruppo APA su volume Commerciale Mercato</h4>
                        <ngx-charts-gauge
                                [scheme]="colorM"
                                [results]="gaugeM"
                                [min]="gaugeMMin"
                                [max]="gaugeMMax"
                                [angleSpan]="240"
                                [startAngle]="-120"
                                [units]="'Pz APA/Comm'"
                                [bigSegments]="10"
                                [smallSegments]="5">
                        </ngx-charts-gauge>
                    </div>
                    <div class="col-4">
                        <h4 class="center">Quota Gruppo APA su volume Commerciale Cluster</h4>
                        <ngx-charts-gauge
                                [scheme]="colorC"
                                [results]="gaugeC"
                                [min]="gaugeCMin"
                                [max]="gaugeCMax"
                                [angleSpan]="240"
                                [startAngle]="-120"
                                [units]="'Pz APA/Comm'"
                                [bigSegments]="10"
                                [smallSegments]="5">
                        </ngx-charts-gauge>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs" *ngIf="loaded">
                            <li class="nav-item"><a class="nav-link {{classeperiodo === 0?'active':''}}"
                                                    data-toggle="tab"
                                                    (click)="setPeriodo(0)">Report
                                annuale</a></li>
                            <li class="nav-item"><a class="nav-link {{classeperiodo === 1?'active':''}}"
                                                    data-toggle="tab"
                                                    (click)="setPeriodo(1)">Report
                                bimestrale</a></li>
                            <li class="nav-item"><a class="nav-link {{classeperiodo === 2?'active':''}}"
                                                    data-toggle="tab"
                                                    (click)="setPeriodo(2)">Report
                                progressivo</a></li>
                            <li class="nav-item"><a class="nav-link {{classeperiodo === 3?'active':''}}"
                                                    data-toggle="tab"
                                                    (click)="setPeriodo(3)">Report
                                ultimo mese</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row pb-40">
                    <div class="col-12">
                        <h3 *ngIf="loaded">{{titoloperiodo}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <div class="row  justify-content-center h-250">
                            <div class="col-8">
                                <ngx-charts-advanced-pie-chart
                                        *ngIf="loaded"
                                        [scheme]="colorScheme2"
                                        [results]="tortaf"
                                        [label]="'Pezzi Venduti Farmacia'"
                                        [gradient]="true">
                                </ngx-charts-advanced-pie-chart>
                            </div>
                        </div>
                        <div class="row pb-40 h-250">
                            <div class="col-6">
                                <ngx-charts-advanced-pie-chart
                                        *ngIf="loaded"
                                        [label]="'Pezzi Venduti Mercato'"
                                        [scheme]="colorScheme2"
                                        [results]="tortam"
                                        [gradient]="true">
                                </ngx-charts-advanced-pie-chart>
                            </div>
                            <div class="col-6">
                                <ngx-charts-advanced-pie-chart
                                        *ngIf="loaded"
                                        [label]="'Pezzi Venduti Cluster'"
                                        [scheme]="colorScheme2"
                                        [results]="tortac"
                                        [gradient]="true">
                                </ngx-charts-advanced-pie-chart>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button (click)="cambiamercato(true)" class="btn btn-lg bg-apogreen-200 white ml-10">
                                    Mercato
                                </button>
                                <button (click)="cambiamercato(false)"
                                        class="btn btn-lg bg-light-apogreen-200 white ml-10">Cluster
                                </button>
                            </div>
                        </div>


                        <div class="row pb-30">
                            <div class="col-12">
                                <h4>Titolo da mettere</h4>
                                <ngx-datatable
                                        #table155
                                        class="dsmaterial fullscreen"
                                        [rows]="tbdata"
                                        [loadingIndicator]="!loaded"
                                        [columnMode]="'flex'"
                                        [headerHeight]="40"
                                        [limit]="10"
                                        [footerHeight]="40"
                                        [rowHeight]="'auto'"
                                        [reorderable]="true">
                                    <ngx-datatable-column prop="Header" name="" [flexGrow]="2">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <button class="btn btn-xs btn-primary"
                                                    [routerLink]="['/referenze', id, value | uppercase, title | uppercase ]">
                                                <i class="icon fa-list"></i>
                                            </button>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="Header" name="" [flexGrow]="4">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span class="{{checkName(value)?'pl-10':''}}">{{value}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="FFatt" name="Fatt" [flexGrow]="2"
                                                          cellClass="bg-primary-200 font-size-10"
                                                          headerClass="bg-primary-200">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="FDFatt" name="Diff" [flexGrow]="2"
                                                          cellClass="bg-primary-200 font-size-10"
                                                          headerClass="bg-primary-200">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="FPezzi" name="Pezzi" [flexGrow]="2"
                                                          cellClass="bg-primary-200"
                                                          headerClass="bg-primary-200">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="FDPezzi" name="Diff" [flexGrow]="2"
                                                          cellClass="bg-primary-200"
                                                          headerClass="bg-primary-200">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="FQuota" name="Quota" [flexGrow]="2"
                                                          cellClass="bg-primary-200"
                                                          headerClass="bg-primary-200">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="FRef" name="Ref" [flexGrow]="2"
                                                          cellClass="bg-primary-200"
                                                          headerClass="bg-primary-200">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="FRef80" name="Ref80" [flexGrow]="2"
                                                          cellClass="bg-primary-200"
                                                          headerClass="bg-primary-200">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!-- MERCATO -->
                                    <ngx-datatable-column prop="MFatt" name="Fatt" [flexGrow]="2"
                                                          cellClass="bg-apogreen-200 font-size-10"
                                                          headerClass="bg-apogreen-200" *ngIf="mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="MDFatt" name="Diff" [flexGrow]="2"
                                                          cellClass="bg-apogreen-200 font-size-10"
                                                          headerClass="bg-apogreen-200" *ngIf="mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="MPezzi" name="Pezzi" [flexGrow]="2"
                                                          cellClass="bg-apogreen-200"
                                                          headerClass="bg-apogreen-200" *ngIf="mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="MDPezzi" name="Diff" [flexGrow]="2"
                                                          cellClass="bg-apogreen-200"
                                                          headerClass="bg-apogreen-200" *ngIf="mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="MQuota" name="Quota" [flexGrow]="2"
                                                          cellClass="bg-apogreen-200"
                                                          headerClass="bg-apogreen-200" *ngIf="mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="MRef" name="Ref" [flexGrow]="2"
                                                          cellClass="bg-apogreen-200"
                                                          headerClass="bg-apogreen-200" *ngIf="mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="MRef80" name="Ref80" [flexGrow]="2"
                                                          cellClass="bg-apogreen-200"
                                                          headerClass="bg-apogreen-200" *ngIf="mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!-- CLUSTER -->
                                    <ngx-datatable-column prop="CFatt" name="Fatturato" [flexGrow]="2"
                                                          cellClass="bg-light-apogreen-200"
                                                          headerClass="bg-light-apogreen-200" *ngIf="!mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="CDFatt" name="Diff" [flexGrow]="2"
                                                          cellClass="bg-light-apogreen-200"
                                                          headerClass="bg-light-apogreen-200" *ngIf="!mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="CPezzi" name="Pezzi" [flexGrow]="2"
                                                          cellClass="bg-light-apogreen-200"
                                                          headerClass="bg-light-apogreen-200" *ngIf="!mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="CDPezzi" name="Diff" [flexGrow]="2"
                                                          cellClass="bg-light-apogreen-200"
                                                          headerClass="bg-light-apogreen-200" *ngIf="!mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="CQuota" name="Quota" [flexGrow]="2"
                                                          cellClass="bg-light-apogreen-200"
                                                          headerClass="bg-light-apogreen-200" *ngIf="!mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="CRef" name="Ref" [flexGrow]="2"
                                                          cellClass="bg-light-apogreen-200"
                                                          headerClass="bg-light-apogreen-200" *ngIf="!mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="CRef80" name="Ref80" [flexGrow]="2"
                                                          cellClass="bg-light-apogreen-200"
                                                          headerClass="bg-light-apogreen-200" *ngIf="!mercato">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value | number}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End Page Content -->
