<!-- Page -->

<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{title}}</h1>
    </div>
    <div class="page-content container-fluid">


        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-12">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-2">
                                <div class="dropdown pull-right mt-10 ml-10">
                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                            id="exampleColorDropdown1"
                                            data-toggle="dropdown" aria-expanded="false">
                                        Scegli periodo
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="exampleColorDropdown1" role="menu"
                                         x-placement="bottom-start"
                                         style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a *ngFor="let item of pippo; let i = index" class="dropdown-item"
                                           (click)="setPeriodo(i)"
                                           role="menuitem">
                                            {{item}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <h1 class="panel-title">{{subtitle}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div *ngFor="let item of tbdata; let i = index">
                            <div class="row h-250 mb-20">
                                <div class="col-6">

                                    <h4>{{substitle[i]}}</h4>
                                    <ngx-datatable
                                            #tb1
                                            class="dsmaterial12"
                                            [columnMode]="'flex'"
                                            [headerHeight]="50"
                                            [footerHeight]="0"
                                            [rowHeight]="'auto'"
                                            [limit]="10"
                                            [rows]="item">
                                        <ngx-datatable-column prop="Header" name="" [flexGrow]="3">
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column prop="Farmacia" name="Farmacia" [flexGrow]="2"
                                                              cellClass="farmacia"
                                                              headerClass="farmacia">
                                            <!--<ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value | number}}
                                            </ng-template>-->
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                               <span *ngIf="row['Header']=='Fatturato'" >{{value  |
                                                   currency:'EUR':'symbol-narrow':'1.1-2':'it'}}</span>
                                               <span *ngIf="row['Header']!='Fatturato'" >{{value |
                                                   number:'1.1-2':'it'}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column prop="Mercato" name="Mercato" [flexGrow]="2"
                                                              cellClass="mercato"
                                                              headerClass="mercato">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                               <span *ngIf="row['Header']=='Fatturato'" >{{value  |
                                                   currency:'EUR':'symbol-narrow':'1.1-2':'it'}}</span>
                                                <span *ngIf="row['Header']!='Fatturato'" >{{value |
                                                    number:'1.1-2':'it'}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column prop="Cluster" name="Cluster" [flexGrow]="2"
                                                              cellClass="cluster"
                                                              headerClass="cluster">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                               <span *ngIf="row['Header']=='Fatturato'" >{{value  |
                                                   currency:'EUR':'symbol-narrow':'1.1-2':'it'}}</span>
                                                <span *ngIf="row['Header']!='Fatturato'" >{{value |
                                                    number:'1.1-2':'it'}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                                <div class="col-3 h-250">
                                    <ngx-charts-gauge
                                            *ngIf="loaded"
                                            [legend]="false"
                                            [results]="isto[i]"
                                            [margin]="[50, 40, 0, 40]"
                                            [animations]="true"
                                            [scheme]="colorFMC"
                                            [min]="-20"
                                            [max]="20"
                                            [bigSegments]="10"
                                            [smallSegments]="5"
                                            [angleSpan]="240"
                                            [startAngle]="-120"
                                            [textValue]="'Fatt ' + isto[i][0].value | number:'1.1-2':'it'"
                                            [units]="'%'"
                                            [showAxis]="true">
                                    </ngx-charts-gauge>
                                </div>
                                <div class="col-3">
                                    <ngx-charts-gauge
                                            *ngIf="loaded"
                                            [legend]="false"
                                            [results]="istoP[i]"
                                            [margin]="[50, 40, 0, 40]"
                                            [animations]="true"
                                            [scheme]="colorFMC"
                                            [min]="0"
                                            [max]="30"
                                            [angleSpan]="240"
                                            [startAngle]="-120"
                                            [textValue]="'Pezzi ' + istoP[i][0].value | number:'1.1-2':'it'"
                                            [units]="'%'"
                                            [showAxis]="true">
                                    </ngx-charts-gauge>
                                </div>
                            </div>
                            <hr>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Content -->
</div>
