<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{title}}</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-xxl-12 col-lg-12">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{sottotitolo}}</h3>
                    </div>
                    <div class="panel-body">
                        <ngx-datatable
                                #tb1
                                class="dsmaterial"
                                [columnMode]="'flex'"
                                [headerHeight]="50"
                                [footerHeight]="0"
                                [rowHeight]="'auto'"
                                [limit]="16"
                                [rows]="tab1data"
                                [selectionType]=""
                                *ngIf="loaded">
                            <ngx-datatable-column prop="Header" name="" [flexGrow]="1">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <strong>{{value}}</strong>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Lunedi_N" name="Lunedì" [flexGrow]="2"
                                                  cellClass="bg-grey-200"
                                                  headerClass="bg-grey-200">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="row">
                                        <div class="col-12"><strong>{{column.name}} - [{{aperture['Lunedi']}}]</strong>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                                    <div class="row">
                                        <div class="col-12">Ingressi: <strong>{{row.Lunedi_N}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">S.C.M: <strong>{{row.Lunedi_Eur |
                                            currency:'EUR':'symbol-narrow':'1.2-2':'it'}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-cyan-900" role="progressbar"
                                                     [style.width.%]="row.Lunedi_Bar"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Martedi_N"
                                                  name="Martedì" [flexGrow]="2">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="row">
                                        <div class="col-12"><strong>{{column.name}} - [{{aperture['Martedi']}}]</strong>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-12">Ingressi: <strong>{{row.Martedi_N}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">S.C.M: <strong>{{row.Martedi_Eur |
                                            currency:'EUR':'symbol-narrow':'1.2-2':'it'}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar  bg-cyan-800" role="progressbar"
                                                     [style.width.%]="row.Martedi_Bar"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Mercoledi_N" name="Mercoledì" [flexGrow]="2"
                                                  cellClass="bg-grey-200"
                                                  headerClass="bg-grey-200">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="row">
                                        <div class="col-12"><strong>{{column.name}} -
                                            [{{aperture['Mercoledi']}}]</strong></div>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-12">Ingressi: <strong>{{row.Mercoledi_N}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">S.C.M: <strong>{{row.Mercoledi_Eur |
                                            currency:'EUR':'symbol-narrow':'1.2-2':'it'}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar  bg-cyan-700" role="progressbar"
                                                     [style.width.%]="row.Mercoledi_Bar"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Giovedi_N" name="Giovedì" [flexGrow]="2">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="row">
                                        <div class="col-12"><strong>{{column.name}} - [{{aperture['Giovedi']}}]</strong>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-12">Ingressi: <strong>{{row.Giovedi_N}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">S.C.M:<strong>{{row.Giovedi_Eur |
                                            currency:'EUR':'symbol-narrow':'1.2-2':'it'}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar  bg-cyan-600" role="progressbar"
                                                     [style.width.%]="row.Giovedi_Bar"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Venerdi_N" name="Venerdì" [flexGrow]="2"
                                                  cellClass="bg-grey-200"
                                                  headerClass="bg-grey-200">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="row">
                                        <div class="col-12"><strong>{{column.name}} - [{{aperture['Venerdi']}}]</strong>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-12">Ingressi: <strong>{{row.Venerdi_N}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">S.C.M: <strong>{{row.Venerdi_Eur |
                                            currency:'EUR':'symbol-narrow':'1.2-2':'it'}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar  bg-cyan-500" role="progressbar"
                                                     [style.width.%]="row.Venerdi_Bar"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Sabato_N" name="Sabato" [flexGrow]="2">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="row">
                                        <div class="col-12"><strong>{{column.name}} - [{{aperture['Sabato']}}]</strong>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-12">Ingressi: <strong>{{row.Sabato_N}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">S.C.M: <strong>{{row.Sabato_Eur |
                                            currency:'EUR':'symbol-narrow':'1.2-2':'it'}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar  bg-cyan-400" role="progressbar"
                                                     [style.width.%]="row.Sabato_Bar"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Domenica_N" name="Domenica" [flexGrow]="2"
                                                  cellClass="bg-grey-200"
                                                  headerClass="bg-grey-200">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="row">
                                        <div class="col-12"><strong>{{column.name}} -
                                            [{{aperture['Domenica']}}]</strong></div>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-12">Ingressi: <strong>{{row.Domenica_N}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">S.C.M: <strong>{{row.Domenica_Eur |
                                            currency:'EUR':'symbol-narrow':'1.2-2':'it'}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar  bg-cyan-300" role="progressbar"
                                                     [style.width.%]="row.Domenica_Bar"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Graf" name="" [flexGrow]="4">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <ngx-charts-bar-vertical
                                                    [view]="view"
                                                    [scheme]="cyano"
                                                    [results]="value"
                                                    [animations]="true"
                                                    [xAxis]="true"
                                                    [yAxis]=""
                                                    [legend]="false"
                                                    [showXAxisLabel]="false"
                                                    [showYAxisLabel]="false"
                                                    [tooltipDisabled]="true"
                                                    [xAxisLabel]=""
                                                    [yAxisLabel]=""
                                                    [showGridLines]="false"
                                                    [showDataLabel]="false">
                                            </ngx-charts-bar-vertical>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Totale_N" name="Totale" [flexGrow]="2">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="row">
                                        <div class="col-12"><strong>{{column.name}}</strong></div>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-12">Ingressi: <strong>{{row.Tot_N}}</strong></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">S.C.M: <strong>{{row.Tot_Eur |
                                            currency:'EUR':'symbol-narrow':'1.2-2':'it'}}</strong></div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
